<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334600676433-orckflf2nnkoki5bgthf44d09eeehd3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334600676433-orckflf2nnkoki5bgthf44d09eeehd3p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>334600676433-dc41elimqvvgu5o5cr8vejtiiv5u4pst.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6S9HYxh7N0Cdh66SoXODmb4FbJHnLiC4</string>
	<key>GCM_SENDER_ID</key>
	<string>334600676433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sugarCubes</string>
	<key>PROJECT_ID</key>
	<string>sugar-cube-6576c</string>
	<key>STORAGE_BUCKET</key>
	<string>sugar-cube-6576c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334600676433:ios:52f1339f7f6fe7044f0470</string>
</dict>
</plist>